@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    background: rgb(68, 11, 116);
    padding: 20px;
    width: 100%;
    height: 30px;
}

.left h3{
color: #fff;
margin: 0;
text-transform: uppercase;
font-size: 22px;
float: right;
margin-right: 50px;
}

.left span{
    color: rgb(48, 203, 241);
}
.sair_bnt{
    padding: 5px;
    background: rgb(27, 162, 196);
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    transition: 0.2s;
}

.sair_bnt:hover{
background-color: rgb(27, 95, 196);
}

.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    margin-top: 70px;
    padding-top: 30px;
    left: 0;
    background: rgba(73, 74, 112, 0.555);
    transition: 0.5s;
    transition-property: left;
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    
    
}

.sidebar .imagem{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.sidebar h2{
   color: rgb(204, 204, 204); 
   margin-top: 0;
   margin-bottom: 20px;
}

.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.2s;
}

.sidebar a:hover{
    background: rgba(69, 11, 116, 0.808);
}

.sidebar ion-icon{
    padding-right: 10px;
}

label #sidebar_btn{
    z-index: 1;
    position: fixed;
    left: 110px;
    color: #fff;
    font-size: 25px;
    margin: 5px 0;
    cursor: pointer;
    transition: 0.2s;
}

label #sidebar_btn:hover{
    color:rgb(27, 95, 196) ;
}

#check:checked ~ .sidebar{
left: -190px;
}

#check:checked ~ .sidebar a span{
    display: none;
}

#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

.content{
    background: url(imagem/fundo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
cursor:default;
}



#check{
    display: none;
}